.label
	display block
	font-size 14px
	margin-top 5px
.wrap
	height 100%
	.container
		&:first-child

			padding-bottom  250px
			margin-bottom  -250px
			min-height 100%

.header-item,
.message-field,
.name-field
	box-sizing border-box
	padding 5px 10px
.items
	border 1px solid #eee
	margin-top 20px
.header-item
	border-bottom 1px solid #eee
	font-size 15px
	font-weight 600
	box-sizing border-box
	padding 10px
	display flex
	justify-content space-between
	align-items center
	&__handlers
		display flex
	&__time-item
		font-size 12px
		font-weight 400
		font-style italic
	&__edit-item
		margin-right 5px
		button
			border none
			background transparent
			padding 0
			width 15px
	&__del-item
		button
			border none
			background transparent
			padding 0
			width 21px
.message-item
	box-sizing border-box
	padding 10px
	font-size 13px
.message-field
	resize none
	width 100%
.list
	list-style-type none
	height 80%
	padding 0
	margin 0
.btn-send
	display block
	width 100%

.error
	background-color  red
